/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
}
html {
  background-color: #f7e7fb;
}

header {
  background-color: #f1c081;
  color: #fc7869;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index:100;
}

header h1 {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-left: 10px;
  font-weight: bold;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: #fc7869;
  text-decoration:wavy;
}

main {
  padding: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 10px;
}

#about {
  flex: 85%;
  margin: 20px;
  margin-top: 150px;
  padding: 10px;
  padding-left: 15px;
  text-align: left;
  background-color: #f1c081;
  color: #fc7869;
  font-size: 1.25rem;
}

.about-img {
  flex: 1 1;
  margin: 20px;
}

.about-img img {
  border-radius: 50%;
  width: 100%;
  height: auto;
  margin: 20px;
}

.about-content {
  flex: 2 1;
  margin: 20px;
  padding: 25px;
  text-align: left;
}

.about-content h3 {
  font-size: 36px;
  color: #705ebf;
  margin-bottom: 25px;
}

.about-content p {
  color: #705ebf;
  line-height: 1.5rem;  
}

#projects {
  flex: 85%;
  margin: 20px;
  padding: 10px;
  padding-left: 15px;
  text-align: left;
  background-color: #f1c081;
  color: #fc7869;
  font-size: 1.25rem;
}

.content {
  flex: 1 1 40%;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border: 5px white;
  position: relative;
}

.content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content h3 {
  position: absolute; 
  bottom: 30px; 
  padding: 15px; 
  background-color: #fff;
  color: #705ebf;
  text-decoration: none;
}

.content h3:hover {
  color: #fc7869;
  text-decoration: none;
}

.key-content {
  flex: 85%;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.content {
  flex: 1 1 40%;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border: 5px white;
  position: relative;
}

.key-content img {
width: 100%;
height: 100%;
object-fit: cover;
}

.key-content h3 {
position: absolute; 
bottom: 20px; 
padding: 20px; 
background-color: #fff;
color: #705ebf;
text-decoration: none;
}

.key-content h3:hover {
color: #fc7869;
text-decoration: none;
}

#contact {
  flex: 85%;
  margin: 20px;
  padding: 10px;
  padding-left: 15px;
  text-align: left;
  background-color: #f1c081;
  color: #fc7869;
  font-size: 1.25rem;
}

.contact-content {
  flex: 40%;
  margin: 20px;
  padding: 25px;
  text-align: center;
  background-color: #fff;
}

.contact-content a {
  color: #705ebf;
  text-decoration: none;
}

.contact-content a:hover {
  color: #fc7869;
  text-decoration: none;
}

footer {
  background-color: #f1c081;
  color: #fc7869;
  padding: 10px;
  text-align: center;
  font-size: 12px;
}

@media screen and (min-width:768px) {
  .about-img {
    flex: 10%;
  }
  
  .about-content {
    flex: 60%;
  }

  .about-content h3 {
    font-size: 42px;
    color: #705ebf;
    margin-bottom: 25px;
  }
  
  .about-content p {
    font-size: larger;
    color: #705ebf;
    line-height: 1.5rem;  
  }

  .content {
    flex: 40%;
    margin-bottom: auto 50px;
  }

  .key-content h3 {
    padding: 30px; 
    font-size: larger;
    }

  .key-content {
    flex: 85%;
    height: 500px;
    margin-bottom: auto 50px;
  }

  .key-content h3 {
    padding: 30px; 
    font-size: larger;
    position: absolute;
    bottom: -100px;
    }
  
  .contact-content {
    flex: 6;
    margin: 20px;
  }

  .contact-content ul {
    flex-direction: row;
  }
}