/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
}
html {
  background-color: #f7e7fb;
}

header {
  background-color: #f1c081;
  color: #fc7869;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
}

header h1 {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-left: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: #fc7869;
  text-decoration:wavy;
}

main {
  padding: 20px;
}

#about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 85%;
  margin: 20px 30px;
  margin-top: 150px;
  padding: 10px;
  text-align: center;
  border: 5px blueviolet solid;
  border-radius:10px;
}

#about div {
  border: 5px blueviolet solid;
  border-radius:10px; 
}

#about img {
  flex: 2 2 25%;
  border-radius: 50%;
  width: 100px;
  height: auto;
}

.about-head {
  flex: 1 2;
  font-size: 2.5rem;
  align-self: flex-end;
  text-align: left;
}

.about-blurb {
  flex: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 10px;
}

.work-head {
    flex: 85%;
    margin: 20px;
    padding: 10px;
    text-align: center;
    border: 5px blueviolet solid;
    border-radius:10px;
}

h2 {
  color: #fc7869;
  font-size: 1.25rem;
}

.content {
    flex: 20%;
    margin: 20px;
    padding: 10px;
    text-align: center;
    border: 5px blueviolet solid;
    border-radius:10px;
}

.key-content {
  flex: 85%;
  margin: 20px;
  padding: 10px;
  text-align: center;
  border: 5px blueviolet solid;
  border-radius:10px;
}

.contact-head {
  flex: 85%;
  margin-left: 20px;
  padding: 10px;
  text-align: left;
}

.contact-content {
  flex: 1;
  margin: 20px;
  padding: 10px;
  text-align: center;
  border: 5px blueviolet solid;
  border-radius:10px;
}
.contact-content ul {
  list-style: none;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  flex-direction: column;
}

.contact-content li {
  padding: 1%;
  text-decoration: none;
}

footer {
  background-color: #f1c081;
  color: #fc7869;
  padding: 10px;
  text-align: center;
}

@media screen and (min-width:768px) {

    .content {
        flex: 30%;
        margin-bottom: auto 50px;
    }
    .key-content {
      flex: 85%;
      margin-bottom: auto 50px;
  }
  .contact-head {
    flex: 1;
    margin: 20px;
    padding: 10px;
  }
  
  .contact-content {
    flex: 6;
    margin: 20px;
    padding: 10px;
  }

  .contact-content ul {
    flex-direction: row;
  }
}